<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览器错误页</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        .btn-back{
            color: brown;
            border: 1px solid black;
            padding: 15px 30px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 20px;
            margin-top: 50px;
        }
        .btn-back:hover{
            background: #fff;
            color: #6bc5a4;
            border-color: #fff;
        }
    </style>
</head>
<body class="has-error">
<div class="container">
    <div class="row">
        <h2 th:text="${status}">page not found</h2>
        <h3 th:text="${message}">We Could not Find This Page</h3>
        <a class="btn-back" href="/home"> Back To Home</a>
    </div>
</div>
<link rel="stylesheet" href="../../static/css/footer.css">
<div class="footer-box">
    <div class="footer-container">
        <div class="footer-service clearfix">
            <div class="footer-service-item footer-icon-001">
                <i></i>
                <span>专注于后端开发</span>
            </div>
            <div class="footer-service-item footer-icon-002">
                <i></i>
                <span>扎实编程能力</span>
            </div>
            <div class="footer-service-item footer-icon-003">
                <i></i>
                <span>学习能力强</span>
            </div>
            <div class="footer-service-item footer-icon-004">
                <i></i>
                <span>掌握多门编程语言</span>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-links clearfix">
            <dl class="footer-article-item">
                <dt>擅长编程语言</dt>
                <dd>
                    <a href="#">Java</a>
                </dd>
                <dd>
                    <a href="#">C/C++</a>
                </dd>
                <dd>
                    <a href="#">Python</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>关于开发者</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">CSDN博客</a>
                </dd>
                <dd>
                    <a href="#">专注后端</a>
                </dd>
                <dd>
                    <a href="#">兼为前端</a>
                </dd>
                <dd>
                    <a href="#">数据分析</a>
                </dd>
                <dd>
                    <a href="#">专业出身</a>
                </dd>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">联系我</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>擅长领域</dt>
                <dd>
                    <a href="#">Java Web</a>
                </dd>
                <dd>
                    <a href="#">MFC客户端</a>
                </dd>
                <dd>
                    <a href="#">PyQT5</a>
                </dd>
                <dd>
                    <a href="#">Python 数据分析</a>
                </dd>
                <dd>
                    <a href="#">C/C++ 数据结构</a>
                </dd>
                <dd>
                    <a href="#">Java 后端</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>其他</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">博客地址</a>
                </dd>
                <dd>
                    <a href=" https://github.com/pyc-ycy">Github</a>
                </dd>
                <dd>
                    <a href="https://gitee.com/pengyoucongcode">Gitee</a>
                </dd>
            </dl>
            <dl class="footer-contact-item">
                <h3>联系我们</h3>
                <p>150-14366986</p>
                <div class="footer-ewm">
                    <img src="../../static/images/vm.png" alt="">
                    <p>关注CSDN博客</p>
                </div>
            </dl>
        </div>
        <div class="footer-friend">
            <div class="footer-friend-title">友情链接：</div>
            <ul class="footer-friend-title-list clearfix">
                <li>
                    <a href="http://www.baidu.com" target="_blank">百度一下</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/" target="_blank">菜鸟教程</a>
                </li>
                <li>
                    <a href="https://mvnrepository.com/" target="_blank">Maven中心仓库</a>
                </li>
                <li>
                    <a href="https://www.bilibili.com/" target="_blank">B站</a>
                </li>
                <li>
                    <a href="http://c.biancheng.net/" target="_blank">C语言中文网</a>
                </li>
                <li>
                    <a href="https://www.w3school.com.cn/" target="_blank">W3Cschool</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/linux/linux-tutorial.html" target="_blank">Linux学习</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">Bootstrap学习</a>
                </li>
                <li>
                    <a href="https://cn.vuejs.org/" target="_blank">Vuejs</a>
                </li>
            </ul>
            <a href="#" class="footer-friend-more">更多 >></a>
        </div>
        <div class="footer-copyright">
            <p>© 2017-2021 (彭友聪) 开发，并保留所有权利&nbsp;&nbsp;&nbsp;常年法律顾问: （深圳）律师事务所</p>
            <p>
                陆丰市河西街道xxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                    <img src="images/icon-footer.png" alt="">**网安备 0008899999xxxx号
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>