<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>公共聊天室</title>
    <link rel="stylesheet" href="../../static/css/chat.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <style>
        body {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<noscript><h2 style="color: red">貌似您的浏览器不支持WebSocket</h2> </noscript>
<div class="container">
    <div class="row">
        <div style="text-align: center;">
            <br>
            <br>
            <div class="col-md-8">
            </div>
            <div class="col-md-8" id="conversationDiv">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            群聊聊天室
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="background: #e4b9c0">
                    <div id="response" style="height: 400px;width: 720px;overflow: auto;background:gray;" >

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form class="form-inline" id="chatForm">
                    <div class="form-group">
                        <label for="name">输入名字：</label><input type="text" name="name" id="name" />
                        <label for="text">输入框：</label>
                        <input type="text" name="text" class="form-control" id="text" placeholder="输入要发送的信息">
                    </div>
                    <button type="submit" class="btn btn-primary">发送</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/sockjs.min.js"></script>
<script src="js/stomp.min.js"></script>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    $('#chatForm').submit(function (e) {
        e.preventDefault();
        let text = $('#chatForm').find('input[name="text"]').val();
        let name = $('#chatForm').find('input[name="name"]').val();
        let str="<div class='left_d'><div class='speech left' ng-class='speech left'>"+name+":"+text+"</div></div>";
        $('#response').append(str);
        sendSpittle(name,text);
    });
    var sock = new SockJS("/endpointPublicChat");
    var stomp = Stomp.over(sock);
    stomp.connect({},function (frame) {
        stomp.subscribe("/publicChat/getResponse",handleNotification);
    });
    function handleNotification(message) {
        let content = JSON.parse(message.body).responseMessageContent;
        let text = $('#chatForm').find('input[name="text"]').val();
        let name = $('#chatForm').find('input[name="name"]').val();
        $('#chatForm').find('input[name="text"]').val("");
        if(content!==name+":"+text)
        {
            let str="<div class=\"right_d\"><div class=\"speech right\" ng-class=\"speech right\">"
                +content
                +"</div></div>";
            $('#response').append(str);
            console.log(str);
        }
    }
    function sendSpittle(name,text) {
        stomp.send("/publicChatRoom", {}, JSON.stringify({ 'name': name,'content':text }));
    }
    function disconnect() {
        if (stomp != null) {
            stomp.disconnect();
        }
        /*setConnected(false);*/
        console.log("Disconnected");
    }
</script>
</body>