<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习资源</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/oppo.css">
    <script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            //回到顶部
            $("#toTop").click(function () {

                $('html,body').animate({

                        scrollTop: '0px'
                    },
                    speed);
            });
            //回到底部
            var windowHeight = parseInt($("body").css("height"));//整个页面的高度
            $("#toBottom").click(function () {
                //alert(h);
                $('html,body').animate({
                        scrollTop: h+'px'
                    },
                    speed);
            });
        });
    </script>
    <style>
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #000;
            margin: 0;
            padding: 0;
        }
        #scroll {
            position:fixed; top:300px; right:100px;
        }
        .scrollItem {
            width:20px; height:70px;border:#e1e1e1 1px solid; cursor:pointer; text-align:center; padding-top:10px;
        }
    </style>
</head>
<body>
<!--页面顶部-->
<div id="top">
    <div class="container"></div>
</div>
<!-- 页面的头部 -->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="xlwb"></div>
            <div class="txwb"></div>
            <div class="tel">150-1436-6986</div>
        </div>
        <ul>
            <li><a href="/toCheckFrozen">登录</a></li>
            <li><a href="/sign">注册</a></li>
        </ul>
    </div>
</div>
<!-- 页面的导航 -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/campus">Campus</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/campus">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/aboutLearn">
                        学习中心<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/aboutLearn">编程学习</a></li>
                        <li><a href="/aboutEnglish">英语</a></li>
                        <li><a href="/aboutMath">数学</a></li>
                        <li class="divider"></li>
                        <li><a href="/aboutPhilosophy">哲学</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>当前页面是一些进行数学学习时，经常使用到的网站的介绍</p>
            <h3>链接</h3>
            <p>友情连接</p>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="http://math.fudan.edu.cn/gdsx/" target="_blank">高等数学学习网站</a></li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-sm-8">
            <h2>高等数学学习网站</h2>
            <h5>以高等数学为主题的数学学习网站</h5>
            <p>
                高等数学是本科学生最重要的基础课程之一，高等数学课程的教学质量是本科教学水平的一个重要标志。
                随着科学技术的迅速发展和计算机技术的广泛应用，数学的思想、方法和技术在自然科学、工程技术等领域发挥着越来越重要的作用，
                而且已经广泛深入到经济学、管理学及社会科学的各个领域，这也对高等数学的教学提出了更高的要求。
                大学数学的教学要使学生学到更丰富、更有用的现代数学知识，具有更强的运用数学工具和技术的能力，
                以适应时代发展的需要。我们认为，大学数学教育的目标不仅在于为学生提供学习专业知识的基础和工具，
                培养数学应用能力，而且在于引导学生接受数学文化的熏陶，掌握一种现代科学的语言，学到一种理性思维的模式，
                包括接受分析、演绎、辨别、归纳等各项科学素质的训练。
            </p>
            <br>
            <h2>数学学习经验</h2>
            <p>
                大学的数学，就是高等数学、概率论与数理统计和线性代数等。<br>
                高等数学中的极限、微积分是两大重要的内容，整个高等数学都离不开这两者。因此，如果想学好数学
                一定要把这两块内容学好、学扎实；极限的本质是一种逼近趋势，例如1/n，当n无穷大时，整体的值就趋近于0；
                微分，就是求导数，导数的几何意义是曲线的变化速率，导数的定义就是用极限来定义的；而积分则是微分的反过程，
                即求原函数，微分方程其一种重要应用。
                <br>
                学习数学，一定要多做练习题，理科类的学科实践性要求很高，数学的实践就是做数学题。
                并且这个做题不是十几道还是几百道的问题，是做到自己能够熟练地运用知识点即可；换句话说，题量不重要，
                掌握为主。
                <br>
                还有就是要学会一些计算技巧，例如在求极限时，遇到乘除项地，如果其中有初等连续函数，可以先算出函数值提到积分符号外面，
                以及其他无穷小替换、洛必达法则等定理，都可以大大简化计算，节省计算步骤。
            </p>
        </div>
    </div>
</div>


<div id="scroll">
    <div class="scrollItem" id="toTop">顶部</div>
    <div class="scrollItem" id="toBottom">底部</div>
</div>
<link rel="stylesheet" href="../../static/css/footer.css">
<div class="footer-box">
    <div class="footer-container">
        <div class="footer-service clearfix">
            <div class="footer-service-item footer-icon-001">
                <i></i>
                <span>专注于后端开发</span>
            </div>
            <div class="footer-service-item footer-icon-002">
                <i></i>
                <span>扎实编程能力</span>
            </div>
            <div class="footer-service-item footer-icon-003">
                <i></i>
                <span>学习能力强</span>
            </div>
            <div class="footer-service-item footer-icon-004">
                <i></i>
                <span>掌握多门编程语言</span>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-links clearfix">
            <dl class="footer-article-item">
                <dt>擅长编程语言</dt>
                <dd>
                    <a href="#">Java</a>
                </dd>
                <dd>
                    <a href="#">C/C++</a>
                </dd>
                <dd>
                    <a href="#">Python</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>关于开发者</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">CSDN博客</a>
                </dd>
                <dd>
                    <a href="#">专注后端</a>
                </dd>
                <dd>
                    <a href="#">兼为前端</a>
                </dd>
                <dd>
                    <a href="#">数据分析</a>
                </dd>
                <dd>
                    <a href="#">专业出身</a>
                </dd>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">联系我</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>擅长领域</dt>
                <dd>
                    <a href="#">Java Web</a>
                </dd>
                <dd>
                    <a href="#">MFC客户端</a>
                </dd>
                <dd>
                    <a href="#">PyQT5</a>
                </dd>
                <dd>
                    <a href="#">Python 数据分析</a>
                </dd>
                <dd>
                    <a href="#">C/C++ 数据结构</a>
                </dd>
                <dd>
                    <a href="#">Java 后端</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>其他</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">博客地址</a>
                </dd>
                <dd>
                    <a href=" https://github.com/pyc-ycy">Github</a>
                </dd>
                <dd>
                    <a href="https://gitee.com/pengyoucongcode">Gitee</a>
                </dd>
            </dl>
            <dl class="footer-contact-item">
                <h3>联系我们</h3>
                <p>150-14366986</p>
                <div class="footer-ewm">
                    <img src="images/vm.png" alt="">
                    <p>关注CSDN博客</p>
                </div>
            </dl>
        </div>
        <div class="footer-friend">
            <div class="footer-friend-title">友情链接：</div>
            <ul class="footer-friend-title-list clearfix">
                <li>
                    <a href="http://www.baidu.com" target="_blank">百度一下</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/" target="_blank">菜鸟教程</a>
                </li>
                <li>
                    <a href="https://mvnrepository.com/" target="_blank">Maven中心仓库</a>
                </li>
                <li>
                    <a href="https://www.bilibili.com/" target="_blank">B站</a>
                </li>
                <li>
                    <a href="http://c.biancheng.net/" target="_blank">C语言中文网</a>
                </li>
                <li>
                    <a href="https://www.w3school.com.cn/" target="_blank">W3Cschool</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/linux/linux-tutorial.html" target="_blank">Linux学习</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">Bootstrap学习</a>
                </li>
                <li>
                    <a href="https://cn.vuejs.org/" target="_blank">Vuejs</a>
                </li>
            </ul>
            <a href="#" class="footer-friend-more">更多 >></a>
        </div>
        <div class="footer-copyright">
            <p>© 2017-2021 (彭友聪) 开发，并保留所有权利&nbsp;&nbsp;&nbsp;常年法律顾问: （深圳）律师事务所</p>
            <p>
                陆丰市河西街道xxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                    <img src="images/icon-footer.png" alt="">**网安备 0008899999xxxx号
                </a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../../static/js/oppo.js"></script>

</body>
</html>