<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习资源</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/oppo.css">
    <script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            //回到顶部
            $("#toTop").click(function () {

                $('html,body').animate({

                        scrollTop: '0px'
                    },
                    speed);
            });
            //回到底部
            var windowHeight = parseInt($("body").css("height"));//整个页面的高度
            $("#toBottom").click(function () {
                //alert(h);
                $('html,body').animate({
                        scrollTop: h+'px'
                    },
                    speed);
            });
        });
    </script>
    <style>
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #000;
            margin: 0;
            padding: 0;
        }
        #scroll {
            position:fixed; top:300px; right:100px;
        }
        .scrollItem {
            width:20px; height:70px;border:#e1e1e1 1px solid; cursor:pointer; text-align:center; padding-top:10px;
        }
    </style>
</head>
<body>
<!--页面顶部-->
<div id="top">
    <div class="container"></div>
</div>
<!-- 页面的头部 -->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="xlwb"></div>
            <div class="txwb"></div>
            <div class="tel">150-1436-6986</div>
        </div>
        <ul>
            <li><a href="/toCheckFrozen">登录</a></li>
            <li><a href="/sign">注册</a></li>
        </ul>
    </div>
</div>
<!-- 页面的导航 -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/campus">Campus</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/campus">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/aboutLearn">
                        学习中心<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/aboutLearn">编程学习</a></li>
                        <li><a href="/aboutEnglish">英语</a></li>
                        <li><a href="/aboutMath">数学</a></li>
                        <li class="divider"></li>
                        <li><a href="/aboutPhilosophy">哲学</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-bottom: 10%;margin-top: 5%">
    <div class="row">
        <div class="col-sm-4">
            <p>当前页面是一些进行哲学学习时，经常使用到的网站的介绍</p>
            <h3>链接</h3>
            <p>友情连接</p>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="http://www.zhexue.org/" target="_blank">哲学网</a></li>
                <li><a href="http://www.yuedu88.com/zhexue/" target="_blank">哲学在线</a></li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-sm-8">
            <h2>哲学网</h2>
            <h5>提供与哲学相关的学习资源</h5>
            <div class="fakeimg">
                <img src="../../static/images/campus/zhexuewang.jpg" width="300px" height="250px">
            </div>
            <br>
            <h2>哲学学习经验</h2>
            <p>
                哲学是一门培养世界观的学科，在意识形态中居于重要地位。当今时代，当今中国，学习哲学必须学习马克思主义哲学，
                历史已经证明了马克思主义哲学的正确性，我们必须始终坚持并践行之，即学习了马克思主义哲学原理，了解了辩证法原理
                和唯物史观原理，那么实际生活中就要把这些应用起来，无时无刻无不用辩证法和唯物史观的观点去看待事物。
                <br>
                中国古代诸如《道德经》、《易经》等古代经史子集，记载了古代中国人的智慧，反映出古代中国的哲学，其中要始终
                符合时代的优秀理论，也有已经不合时宜的理论，我们在学习的时候应当以一种扬弃的态度去对待，取其精华去其糟粕，
                <br>
                中国传统优秀文化，是中华民族独特的精神标识，我们应该继承，如果我们不能继承，那么我们将在与西方的文化交流中
                被同化，这是很危险的，也是与中国历史大相径庭的，在中国历史上都是我们同化其他迁徙到中国的民族，而不是被他们同化，
                在今天我们也应当如此，保持自身文化特征的同时，扩大自己的文化影响力。
                <br>
                简言之，我们既要学习马克思主义哲学，更要继承中国古代哲学的精华。
            </p>
        </div>
    </div>
</div>


<div id="scroll">
    <div class="scrollItem" id="toTop">顶部</div>
    <div class="scrollItem" id="toBottom">底部</div>
</div>
<link rel="stylesheet" href="../../static/css/footer.css">
<div class="footer-box">
    <div class="footer-container">
        <div class="footer-service clearfix">
            <div class="footer-service-item footer-icon-001">
                <i></i>
                <span>专注于后端开发</span>
            </div>
            <div class="footer-service-item footer-icon-002">
                <i></i>
                <span>扎实编程能力</span>
            </div>
            <div class="footer-service-item footer-icon-003">
                <i></i>
                <span>学习能力强</span>
            </div>
            <div class="footer-service-item footer-icon-004">
                <i></i>
                <span>掌握多门编程语言</span>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-links clearfix">
            <dl class="footer-article-item">
                <dt>擅长编程语言</dt>
                <dd>
                    <a href="#">Java</a>
                </dd>
                <dd>
                    <a href="#">C/C++</a>
                </dd>
                <dd>
                    <a href="#">Python</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>关于开发者</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">CSDN博客</a>
                </dd>
                <dd>
                    <a href="#">专注后端</a>
                </dd>
                <dd>
                    <a href="#">兼为前端</a>
                </dd>
                <dd>
                    <a href="#">数据分析</a>
                </dd>
                <dd>
                    <a href="#">专业出身</a>
                </dd>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">联系我</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>擅长领域</dt>
                <dd>
                    <a href="#">Java Web</a>
                </dd>
                <dd>
                    <a href="#">MFC客户端</a>
                </dd>
                <dd>
                    <a href="#">PyQT5</a>
                </dd>
                <dd>
                    <a href="#">Python 数据分析</a>
                </dd>
                <dd>
                    <a href="#">C/C++ 数据结构</a>
                </dd>
                <dd>
                    <a href="#">Java 后端</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>其他</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">博客地址</a>
                </dd>
                <dd>
                    <a href=" https://github.com/pyc-ycy">Github</a>
                </dd>
                <dd>
                    <a href="https://gitee.com/pengyoucongcode">Gitee</a>
                </dd>
            </dl>
            <dl class="footer-contact-item">
                <h3>联系我们</h3>
                <p>150-14366986</p>
                <div class="footer-ewm">
                    <img src="images/vm.png" alt="">
                    <p>关注CSDN博客</p>
                </div>
            </dl>
        </div>
        <div class="footer-friend">
            <div class="footer-friend-title">友情链接：</div>
            <ul class="footer-friend-title-list clearfix">
                <li>
                    <a href="http://www.baidu.com" target="_blank">百度一下</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/" target="_blank">菜鸟教程</a>
                </li>
                <li>
                    <a href="https://mvnrepository.com/" target="_blank">Maven中心仓库</a>
                </li>
                <li>
                    <a href="https://www.bilibili.com/" target="_blank">B站</a>
                </li>
                <li>
                    <a href="http://c.biancheng.net/" target="_blank">C语言中文网</a>
                </li>
                <li>
                    <a href="https://www.w3school.com.cn/" target="_blank">W3Cschool</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/linux/linux-tutorial.html" target="_blank">Linux学习</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">Bootstrap学习</a>
                </li>
                <li>
                    <a href="https://cn.vuejs.org/" target="_blank">Vuejs</a>
                </li>
            </ul>
            <a href="#" class="footer-friend-more">更多 >></a>
        </div>
        <div class="footer-copyright">
            <p>© 2017-2021 (彭友聪) 开发，并保留所有权利&nbsp;&nbsp;&nbsp;常年法律顾问: （深圳）律师事务所</p>
            <p>
                陆丰市河西街道xxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                    <img src="images/icon-footer.png" alt="">**网安备 0008899999xxxx号
                </a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../../static/js/oppo.js"></script>

</body>
</html>