<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>悬赏问题浏览</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/oppo.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            //回到顶部
            $("#toTop").click(function () {

                $('html,body').animate({

                        scrollTop: '0px'
                    },
                    speed);
            });
            //回到底部
            var windowHeight = parseInt($("body").css("height"));//整个页面的高度
            $("#toBottom").click(function () {
                //alert(h);
                $('html,body').animate({
                        scrollTop: h+'px'
                    },
                    speed);
            });
        });
    </script>
    <style>
        body {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            background: #eee url("../../static/images/campus/logo.jpg") center no-repeat fixed;
        }
        .main{
            margin: 10px auto;
            width: 800px;
            height: 700px;
        }
        .questions-list{
            margin: 10px auto;
            width: 800px;
            height: auto;
        }
        #scroll {
            position:fixed; top:300px; right:100px;
        }
        .scrollItem {
            width:20px; height:70px;border:#e1e1e1 1px solid; cursor:pointer; text-align:center; padding-top:10px;
        }
    </style>
</head>
<body>
<!--页面顶部-->
<div id="top">
    <div class="container"></div>
</div>
<!-- 页面的头部 -->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="xlwb"></div>
            <div class="txwb"></div>
            <div class="tel">150-1436-6986</div>
        </div>
        <ul>
            <li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-link" th:value="安全退出">
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- 页面的导航 -->
<div id="nav">
    <div class="container">
        <div class="logo left">
            <h1>Campus</h1>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/learn">学习资源</a></li>
            <li><a href="/news">校内新闻</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/userCenter" style="color: red" th:text="${curUse.getName()}"></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">网站管理</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/userCenter" style="color: red" th:text="${curUse.getName()}"></a>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <h1>悬赏问题浏览</h1>
    <p>如果你知道这个问题，请按发布者的邮箱联系发布者</p>
    <form class="form-inline" name="form"  method="post" th:action="@{/queryByQuestionType}">
        <div class="form-group">
            <label for="TypeOfQuestion" class="sr-only">问题类型</label>
            <div class="input-group">
                <input type="text" name="TypeOfQuestion" id="TypeOfQuestion" placeholder="问题类型">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <div class="table-box">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>发布者</th>
                <th>邮箱</th>
                <th>问题类型</th>
                <th>问题内容</th>
                <th>悬赏</th>
            </tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(questions)}">
            <tr th:each="question:${questions}">
                <td th:text="${question.getPublisher()}"></td>
                <td th:text="${question.mail}"></td>
                <td th:text="${question.type}"></td>
                <td th:text="${question.content}"></td>
                <td th:text="${question.reward}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="after_sale">
    <div class="container">
        <ul>
            <li>
                <ol>
                    <li><a href="#">联系方式</a></li>
                    <li><a href="#">15014366986</a></li>
                    <li><a href="#">2923616405</a></li>
                    <li><a href="#">pyc852164</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li><a href="#">关于我</a></li>
                    <li><a href="https://blog.csdn.net/qq_42896653">CSDN</a></li>
                    <li><a href="https://github.com/pyc-ycy">Github</a></li>
                    <li><a href="https://gitee.com/pengyoucongcode">Gitee</a></li>
                </ol>
            </li>
            <li>
                <ol>
                    <li>关于我</li>
                    <li>我的博客文章，</li>
                    <li>我的代码托管平台，</li>
                    <li>也是代码托管平台，</li>
                </ol>
            </li>
            <li>
                <ol>
                    <li>关于我</li>
                    <li>可以了解我的所学</li>
                    <li>可以看到我的开源代码</li>
                    <li>为避免Github访问不了</li>
                </ol>
            </li>
        </ul>
    </div>
</div>
<div id="scroll">
    <div class="scrollItem" id="toTop">顶部</div>
    <div class="scrollItem" id="toBottom">底部</div>
</div>
<div id="footer">
    <div class="container">
        <p style="color: white;text-align: center;">
            @2020 御承扬Copyright&copy;2020-05-04
        </p>
    </div>
</div>
<script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../../static/js/oppo.js"></script>
</body>
</html>