<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" th:href="@{/static/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/oppo.css">
    <script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript">
        $(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            //回到顶部
            $("#toTop").click(function () {

                $('html,body').animate({

                        scrollTop: '0px'
                    },
                    speed);
            });
            //回到底部
            var windowHeight = parseInt($("body").css("height"));//整个页面的高度
            $("#toBottom").click(function () {
                //alert(h);
                $('html,body').animate({
                        scrollTop: h+'px'
                    },
                    speed);
            });
        });
    </script>
    <style>
        #scroll {
            position:fixed; top:300px; right:100px;
        }
        .scrollItem {
            width:20px; height:70px;border:#e1e1e1 1px solid; cursor:pointer; text-align:center; padding-top:10px;
        }
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        #banner {
            height: 630px;
        }

        .swiper-container {
            width: 100%;
            height: 632px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
        .pic-list{
            margin-top: 40%;
            width: 100%;
            height: 400px;
            /*background-color: gold;*/
        }
    </style>
</head>
<body style="word-break:break-all;">
<!--页面顶部-->
<div id="top">
    <div class="container"></div>
</div>
<!-- 页面的头部 -->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="xlwb"></div>
            <div class="txwb"></div>
            <div class="tel">150-1436-6986</div>
        </div>
        <ul>
            <li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-link" th:value="安全退出">
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- 页面的导航 -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Campus</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/aboutLearn">
                        学习中心<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/learn">编程学习</a></li>
                        <li><a href="/toEnglish">英语</a></li>
                        <li><a href="/toMath">数学</a></li>
                        <li class="divider"></li>
                        <li><a href="/toPhilosophy">哲学</a></li>
                    </ul>
                </li>
                <li><a href="/news">校内新闻</a></li>
                <li sec:authorize="hasRole('ROLE_USER')"><a href="/userCenter" style="color: green">用户中心</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">网站管理</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/userCenter" style="color: red">用户中心</a></li>
                <li><a href="/toHelp">帮助中心</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div class="starter-template">
    <h1 th:text="${msg.title}"></h1>
    <p class="bg-primary" th:text="${msg.content}"></p>
</div>
<!-- 页面的banner部分 -->
<div id="banner">
    <!-- <div class="container"></div> -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../static/images/campus/mmexport1576931896321.jpg" alt="pic"
                                           width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="../../static/images/campus/mmexport1576931902556.jpg" alt="pic"
                                           width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="../../static/images/campus/mmexport1576931908791.jpg" alt="pic"
                                           width="100%;" height="630"></div>
            <div class="swiper-slide"><img src="../../static/images/campus/mmexport1576931926348.jpg" alt="pic"
                                           width="100%;" height="630"></div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">1</div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="banner-nav-bg"></div>
</div>
<div class="container" style="margin-top: 5%">
    <div class="row">
        <div class="col-sm-4">
            <h3>学校属性</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><img src="images/campus/logo.jpg" width="300" height="200" alt="pic"></li>
                <li>全称：肇庆学院</li>
                <li>简称：砚园</li>
                <li>校训：<strong>厚德、明智、博学、力行</strong></li>
                <li>类别：公立大学 </li>
                <li>类型综合类</li>
                <li>属性：普通全日制本科大学</li>
                <li>地理位置：广东省肇庆市端州区迎宾大道横岗街道肇庆学院（主校区）</li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-md-8">
            <h2 style="font-size: 17px;">基本信息</h2>
            <br>
            <p style="text-indent: 2em;">
                肇庆学院，院校代码为<strong>4144010580</strong>。是广东省和肇庆市共建的公办全日制综合型本科大学，
                是广东省转型发展试点院校，是广东省2017年硕士学位授予立项建设单位之一。
                1970年3月，广东教育行政学院由广州市迁往肇庆地区办学，改名为肇庆地区师范学校，
                后历经肇庆地区师范学校、肇庆地区五·七师范学院、肇庆师范专科学校、西江大学等发展阶段；
                2000年3月，经教育部批准，西江大学和肇庆教育学院合并组建本科层次的肇庆学院。
            </p>
            <br>
            <br>
            <h2 style="font-size: 17px;">地理概况</h2>
            <br>
            <p>
                肇庆学院，坐落于广东省肇庆市端州区北岭山下，靠山望江，紧邻肇庆市区和肇庆著名风景区<strong>七星岩</strong>。
                校内绿地面积多，绿树成荫，碧波荡漾，没错，校园内有湖曰:<strong>翰墨池</strong>和<strong>行知湖</strong>，皆是课后休闲的好去处。
                由于所在的端州区，即北宋名臣包拯<strong>不带一砚归</strong>所涉及的端州，中国四大名砚·<strong>端砚</strong>的产地，故而师生称肇庆学院为<strong>"砚园“</strong>，
                <strong>"砚园不出砚，燕园有飞燕。文理各其道，桃李共育苗。</strong>
            </p>
            <br>
            <br>
            <h2 style="font-size: 17px;">校园文化</h2>
            <br>
            <p>
                砚园有图书馆两处，其中福慧图书馆是学校师生常去的地方，另一处图书馆为馆藏备份和校史档案管理等用，师生不常去。
                砚园内学习氛围好，学生自觉于校园内各处可学习处学习，树荫下小亭子，湖边阴凉处，图书馆内，教室内……凡可静心学习处皆有捧书人。
            </p>
            <div class="pic-list">
                <div>
                    <img src="images/campus/mmexport1576931950622.jpg" alt="pic" style="width: 350px">
                    <img src="images/campus/mmexport1576931943913.jpg" alt="pic" style="width: 350px">
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../../static/css/footer.css">
<div class="footer-box">
    <div class="footer-container">
        <div class="footer-service clearfix">
            <div class="footer-service-item footer-icon-001">
                <i></i>
                <span>专注于后端开发</span>
            </div>
            <div class="footer-service-item footer-icon-002">
                <i></i>
                <span>扎实编程能力</span>
            </div>
            <div class="footer-service-item footer-icon-003">
                <i></i>
                <span>学习能力强</span>
            </div>
            <div class="footer-service-item footer-icon-004">
                <i></i>
                <span>掌握多门编程语言</span>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="footer-links clearfix">
            <dl class="footer-article-item">
                <dt>擅长编程语言</dt>
                <dd>
                    <a href="#">Java</a>
                </dd>
                <dd>
                    <a href="#">C/C++</a>
                </dd>
                <dd>
                    <a href="#">Python</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>关于开发者</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">CSDN博客</a>
                </dd>
                <dd>
                    <a href="#">专注后端</a>
                </dd>
                <dd>
                    <a href="#">兼为前端</a>
                </dd>
                <dd>
                    <a href="#">数据分析</a>
                </dd>
                <dd>
                    <a href="#">专业出身</a>
                </dd>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">联系我</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>擅长领域</dt>
                <dd>
                    <a href="#">Java Web</a>
                </dd>
                <dd>
                    <a href="#">MFC客户端</a>
                </dd>
                <dd>
                    <a href="#">PyQT5</a>
                </dd>
                <dd>
                    <a href="#">Python 数据分析</a>
                </dd>
                <dd>
                    <a href="#">C/C++ 数据结构</a>
                </dd>
                <dd>
                    <a href="#">Java 后端</a>
                </dd>
            </dl>
            <dl class="footer-article-item">
                <dt>其他</dt>
                <dd>
                    <a href="https://blog.csdn.net/qq_42896653" target="_blank">博客地址</a>
                </dd>
                <dd>
                    <a href=" https://github.com/pyc-ycy">Github</a>
                </dd>
                <dd>
                    <a href="https://gitee.com/pengyoucongcode">Gitee</a>
                </dd>
            </dl>
            <dl class="footer-contact-item">
                <h3>联系我们</h3>
                <p>150-14366986</p>
                <div class="footer-ewm">
                    <img src="images/vm.png" alt="">
                    <p>关注CSDN博客</p>
                </div>
            </dl>
        </div>
        <div class="footer-friend">
            <div class="footer-friend-title">友情链接：</div>
            <ul class="footer-friend-title-list clearfix">
                <li>
                    <a href="http://www.baidu.com" target="_blank">百度一下</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/" target="_blank">菜鸟教程</a>
                </li>
                <li>
                    <a href="https://mvnrepository.com/" target="_blank">Maven中心仓库</a>
                </li>
                <li>
                    <a href="https://www.bilibili.com/" target="_blank">B站</a>
                </li>
                <li>
                    <a href="http://c.biancheng.net/" target="_blank">C语言中文网</a>
                </li>
                <li>
                    <a href="https://www.w3school.com.cn/" target="_blank">W3Cschool</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/linux/linux-tutorial.html" target="_blank">Linux学习</a>
                </li>
                <li>
                    <a href="https://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">Bootstrap学习</a>
                </li>
                <li>
                    <a href="https://cn.vuejs.org/" target="_blank">Vuejs</a>
                </li>
            </ul>
            <a href="#" class="footer-friend-more">更多 >></a>
        </div>
        <div class="footer-copyright">
            <p>© 2017-2021 (彭友聪) 开发，并保留所有权利&nbsp;&nbsp;&nbsp;常年法律顾问: （深圳）律师事务所</p>
            <p>
                陆丰市河西街道xxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">
                    <img src="images/icon-footer.png" alt="">**网安备 0008899999xxxx号
                </a>
            </p>
        </div>
    </div>
</div>
<div id="scroll">
    <div class="scrollItem" id="toTop">顶部</div>
    <div class="scrollItem" id="toBottom">底部</div>
</div>

<script type="text/javascript" src="../../static/js/swiper.js"></script>
<script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../../static/js/oppo.js"></script>
<script type="text/javascript">
    let swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop: true,
        autoplay: 3000,


        speed: 1000,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        effect: 'fade',//  effect: 'flip',effect: 'coverFlow',slide', 'fade',cube
        grabCursor: true,
        cube: {
            shadow: false,
            slideShadows: false,
            shadowOffset: 20,
            shadowScale: 0.94
        }
    });
</script>

</body>
</html>