<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/oppo.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var speed = 800;//滚动速度
            var h=document.body.clientHeight;
            //回到顶部
            $("#toTop").click(function () {

                $('html,body').animate({

                        scrollTop: '0px'
                    },
                    speed);
            });
            //回到底部
            var windowHeight = parseInt($("body").css("height"));//整个页面的高度
            $("#toBottom").click(function () {
                //alert(h);
                $('html,body').animate({
                        scrollTop: h+'px'
                    },
                    speed);
            });
        });
    </script>
    <style>
        #scroll {
            position:fixed; top:300px; right:100px;
        }
        .scrollItem {
            width:20px; height:70px;border:#e1e1e1 1px solid; cursor:pointer; text-align:center; padding-top:10px;
        }
        body {
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            background: #eee url("../../static/images/campus/logo.jpg") center no-repeat fixed;
        }
        .main{
            margin: 10px auto;
            width: 800px;
            height: 700px;
        }
    </style>
</head>
<body>
<!--页面顶部-->
<div id="top">
    <div class="container"></div>
</div>
<!-- 页面的头部 -->
<div id="header">
    <div class="container">
        <div class="header_left left">
            <div class="xlwb"></div>
            <div class="txwb"></div>
            <div class="tel">150-1436-6986</div>
        </div>
        <ul>
            <li>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-link" th:value="安全退出">
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- 页面的导航 -->
<div id="nav">
    <div class="container">
        <div class="logo left">
            <h1>Campus</h1>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/learn">
                    学习中心<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/learn">编程学习</a></li>
                    <li><a href="/toEnglish">英语</a></li>
                    <li><a href="/toMath">数学</a></li>
                    <li class="divider"></li>
                    <li><a href="/toPhilosophy">哲学</a></li>
                </ul>
            </li>
            <li><a href="/news">校内新闻</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/userCenter" style="color: red">用户中心</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">网站管理</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/userCenter" style="color: red">用户中心</a>
            </li>
            <li><a href="/toHelp">帮助中心</a> </li>
        </ul>
    </div>
</div>
<div class="container" style="margin-bottom: 10%">
    <div class="row">
        <div class="col-sm-4">
            <h2>网站管理菜单</h2>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/publishNews">新闻发布</a> </li>
                <li><a href="/toImportGrade">成绩导入</a> </li>
                <li><a href="/toPublishQuestion">发布悬赏问题</a> </li>
                <li class="active"><a href="/manageUser">管理用户</a> </li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        <div class="col-md-8">
            <h1>用户管理</h1>
            <form class="form-inline" name="form"  method="post" th:action="@{/findUserByStudentIDLike}">
                <div class="form-group">
                    <label for="ClassPrefix" class="sr-only">按学号中的班级前缀：</label>
                    <div class="input-group">
                        <input type="text" name="ClassPrefix" id="ClassPrefix" placeholder="10班级前缀">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
            <div class="table-box">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>QQ</th>
                        <th>微信</th>
                        <th>是否管理员</th>
                        <th>是否冻结</th>
                    </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(students)}">
                    <tr th:each="student:${students}">
                        <td th:text="${student.getName()}"></td>
                        <td th:text="${student.getStudentID()}"></td>
                        <td th:text="${student.getQQ()}"></td>
                        <td th:text="${student.getWeChat()}"></td>
                        <td th:text="${student.getAdmin()}"></td>
                        <td th:text="${student.isFrozen()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form class="form-inline" name="form2" method="post" th:action="@{/delStuByStuId}">
                <div class="form-group">
                    <label for="studentId">学号</label>
                    <input type="text" class="form-control" id="studentId" name="studentId" placeholder="student id">
                </div>
                <button type="submit" class="btn btn-danger">删除</button>
            </form>
            <br>
            <form class="form-inline" name="form3" method="post"
                  th:action="@{/saveFrozenInTrue}" action="/saveFrozenInTrue">
                <div class="form-group">
                    <label for="studentId2">学号</label>
                    <input type="text" class="form-control" id="studentId2" name="studentId" placeholder="student id">
                </div>
                <button type="submit" class="btn btn-danger">冻结</button>
            </form>
            <br>
            <form class="form-inline" name="form2" method="post"
                  th:action="@{/saveFrozenInFalse}" action="/saveFrozenInFalse">
                <div class="form-group">
                    <label for="studentId3">学号</label>
                    <input type="text" class="form-control" id="studentId3" name="studentId" placeholder="student id">
                </div>
                <button type="submit" class="btn btn-danger">解冻</button>
            </form>
        </div>
    </div>
</div>

<div id="scroll">
    <div class="scrollItem" id="toTop">顶部</div>
    <div class="scrollItem" id="toBottom">底部</div>
</div>
    <link rel="stylesheet" href="../../static/css/footer.css">
    <div class="footer-box">
        <div class="footer-container">
            <div class="footer-service clearfix">
                <div class="footer-service-item footer-icon-001">
                    <i></i>
                    <span>专注于后端开发</span>
                </div>
                <div class="footer-service-item footer-icon-002">
                    <i></i>
                    <span>扎实编程能力</span>
                </div>
                <div class="footer-service-item footer-icon-003">
                    <i></i>
                    <span>学习能力强</span>
                </div>
                <div class="footer-service-item footer-icon-004">
                    <i></i>
                    <span>掌握多门编程语言</span>
                </div>
            </div>
            <div class="footer-line"></div>
            <div class="footer-links clearfix">
                <dl class="footer-article-item">
                    <dt>擅长编程语言</dt>
                    <dd>
                        <a href="#">Java</a>
                    </dd>
                    <dd>
                        <a href="#">C/C++</a>
                    </dd>
                    <dd>
                        <a href="#">Python</a>
                    </dd>
                </dl>
                <dl class="footer-article-item">
                    <dt>关于开发者</dt>
                    <dd>
                        <a href="https://blog.csdn.net/qq_42896653" target="_blank">CSDN博客</a>
                    </dd>
                    <dd>
                        <a href="#">专注后端</a>
                    </dd>
                    <dd>
                        <a href="#">兼为前端</a>
                    </dd>
                    <dd>
                        <a href="#">数据分析</a>
                    </dd>
                    <dd>
                        <a href="#">专业出身</a>
                    </dd>
                    <dd>
                        <a href="https://blog.csdn.net/qq_42896653" target="_blank">联系我</a>
                    </dd>
                </dl>
                <dl class="footer-article-item">
                    <dt>擅长领域</dt>
                    <dd>
                        <a href="#">Java Web</a>
                    </dd>
                    <dd>
                        <a href="#">MFC客户端</a>
                    </dd>
                    <dd>
                        <a href="#">PyQT5</a>
                    </dd>
                    <dd>
                        <a href="#">Python 数据分析</a>
                    </dd>
                    <dd>
                        <a href="#">C/C++ 数据结构</a>
                    </dd>
                    <dd>
                        <a href="#">Java 后端</a>
                    </dd>
                </dl>
                <dl class="footer-article-item">
                    <dt>其他</dt>
                    <dd>
                        <a href="https://blog.csdn.net/qq_42896653" target="_blank">博客地址</a>
                    </dd>
                    <dd>
                        <a href=" https://github.com/pyc-ycy">Github</a>
                    </dd>
                    <dd>
                        <a href="https://gitee.com/pengyoucongcode">Gitee</a>
                    </dd>
                </dl>
                <dl class="footer-contact-item">
                    <h3>联系我们</h3>
                    <p>150-14366986</p>
                    <div class="footer-ewm">
                        <img src="images/vm.png" alt="">
                        <p>关注CSDN博客</p>
                    </div>
                </dl>
            </div>
            <div class="footer-friend">
                <div class="footer-friend-title">友情链接：</div>
                <ul class="footer-friend-title-list clearfix">
                    <li>
                        <a href="http://www.baidu.com" target="_blank">百度一下</a>
                    </li>
                    <li>
                        <a href="https://www.runoob.com/" target="_blank">菜鸟教程</a>
                    </li>
                    <li>
                        <a href="https://mvnrepository.com/" target="_blank">Maven中心仓库</a>
                    </li>
                    <li>
                        <a href="https://www.bilibili.com/" target="_blank">B站</a>
                    </li>
                    <li>
                        <a href="http://c.biancheng.net/" target="_blank">C语言中文网</a>
                    </li>
                    <li>
                        <a href="https://www.w3school.com.cn/" target="_blank">W3Cschool</a>
                    </li>
                    <li>
                        <a href="https://www.runoob.com/linux/linux-tutorial.html" target="_blank">Linux学习</a>
                    </li>
                    <li>
                        <a href="https://www.runoob.com/bootstrap/bootstrap-tutorial.html" target="_blank">Bootstrap学习</a>
                    </li>
                    <li>
                        <a href="https://cn.vuejs.org/" target="_blank">Vuejs</a>
                    </li>
                </ul>
                <a href="#" class="footer-friend-more">更多 >></a>
            </div>
            <div class="footer-copyright">
                <p>© 2017-2021 (彭友聪) 开发，并保留所有权利&nbsp;&nbsp;&nbsp;常年法律顾问: （深圳）律师事务所</p>
                <p>
                    陆丰市河西街道xxxxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">
                        <img src="images/icon-footer.png" alt="">**网安备 0008899999xxxx号
                    </a>
                </p>
            </div>
        </div>
    </div>
<script type="text/javascript" src="../../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../../static/js/oppo.js"></script>

</body>
</html>