<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>私聊聊天室</title>
    <script src="js/stomp.min.js"></script>
    <script src="js/sockjs.min.js"></script>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="../../static/css/chat.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div style="text-align: center;">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            提示
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-info" th:text="${msg.content}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title" th:text="${toName}">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="height: 400px;width: 720px;overflow: auto;background:#EEEEEE;" id="output">

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form class="form-inline" id="chatForm">
                    <div class="form-group">
                        <label for="text">输入框：</label>
                        <input type="text" name="text" class="form-control" style="width: 520px" id="text" placeholder="输入要发送的信息">
                    </div>
                    <button type="submit" class="btn btn-primary">发送</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $('#chatForm').submit(function (e) {
        e.preventDefault();
        var text = $('#chatForm').find('input[name="text"]').val();
        /*var fromName = $('#chatForm').find('input[name="fromName"]').val();
        var toName = $('#chatForm').find('input[name="toName"]').val();*/
        let str="<div class='left_d'><div class='speech left' ng-class='speech left'>"+text+"</div></div>";
        $('#output').append(str);
        $('#chatForm').find('input[name="text"]').val("");
        sendSpittle(text);
    });
    var sock = new SockJS("/endPointChat");
    var stomp = Stomp.over(sock);
    stomp.connect('guest','guest',function (frame) {
        stomp.subscribe("/user/queue/notification",handleNotification);
    });
    function handleNotification(message) {
        let str="<div class=\"right_d\"><div class=\"speech right\" ng-class=\"speech right\">"+message.body+"</div></div>";
        $('#output').append(str);
        console.log(str);
        /*$('#output').append("</br><b>"+[[${toName}]]+":"+message.body+"</b></br>")*/
    }
    function sendSpittle(text) {
        stomp.send("/chat/"+[[${toName}]],{},text);
    }
    $('#stop').click(function () {
        sock.close()
    });
</script>
</body>
</html>